body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('https://dna-hpc-frontend-media.s3.amazonaws.com/images/dna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  img.fit-image {
    width: 100%;
    height: auto;
  }